* {
	font-family: neue-haas-grotesk-display, sans-serif;
	margin: auto;
	padding: 0;
	border: 0;
	width: 100%;
  color: white;
	background-image: linear-gradient(#171985, #000000);
}

.topnav a {
  color: white;
  text-align: left;
	margin: 22px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
	display: inline-block;
}

.topnav-right{
	float: right;
	padding-top: 26px;
}

a:hover{
	color: #696969;
}


h1 {
	font-size:50px;
}

h3 {
	font-size: 30px;
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	margin: 0 100px;
	line-height: 0.5;
	padding-top: 150px;
}

h2 {
	font-size: 75px;
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	margin: 0 100px;
	margin-bottom: 50px;
}

button {
  background-color: #3BB1D0;
  color: white;
  padding: 12px 20px;
  border: none;
	border-radius: 11px;
	margin-top: 20px;
}

button:hover {
  background-color: #0c8aa8;
}

.container {
	margin-bottom: 50px;
}
